@import 'partials/01-variables';
@import 'partials/02-reset';
@import 'partials/03-mixins';
@import 'partials/04-breakpoints';
@import 'partials/05-buttons';

html {
    font-size: 16px;
}

body {
    font-family: $barlow;
    background: $background;
    color: $main-blue;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 1.5rem;
    outline: 1px solid red;
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

@import 'partials/header';
@import 'partials/index';
@import 'partials/footer';