@import 'partials/01-variables';
@import 'partials/02-reset';
@import 'partials/03-mixins';
@import 'partials/04-breakpoints';
@import 'partials/05-buttons';

* {
    //outline: 1px solid red;
    transition: .2s;
}

html {
    font-size: 16px;
}

body {
    font-family: $barlow;
    background-image: url("https://res.cloudinary.com/dczeozags/image/upload/v1703206519/jobApplyTracker/masfve3siftvxxnwbqb1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: $main-blue;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

form {
    min-height: 100vh;
    padding: 20px;
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
        margin: 0 auto;
    }
}

form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form select {
    color: lighten($main-blue, 30%);
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lighten($main-blue, 50%);
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form select:focus {
    outline: 1px solid $cta-blue;
}

form .error {
    color: red;
    margin: 5px 0;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $cta-blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: $main-blue;
}

form p {
    color: lighten($main-blue, 30%);
    text-align: center;
    margin-top: 10px;
}

form p a {
    color: $cta-blue;
}

form p a:hover {
    color: $cta-orange;
}

#comments {
    color: lighten($main-blue, 30%);
    font-family: $barlow;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid lighten($main-blue, 50%);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#comments:focus {
    border: 2px solid $cta-blue;
}

#filter-form {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: auto;
    padding: 20px;
    gap: 10px;
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
        margin: 0;
    }
}

#filter-form label {
    text-wrap: nowrap;
    margin: 0 10px 0 0;
}

#filter-form .form-group {
    display: flex;
    align-items: center;
}

#filter-form button {
    width: auto;
}

.btn-form {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: auto;
    padding: 20px;
    gap: 10px;
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
        margin: 0;
    }
}



@import 'partials/header';
@import 'partials/index';
@import 'partials/archives';
@import 'partials/profile';
@import 'partials/footer';