<% if (offers.length) { %>
  <div id="dashboard-grid" class="dashboard-grid">
    <h3>My Offers</h3>
    <% offers.forEach((offer)=> { %>
      <% if(offer.offerStatus !=="Archive" ) { %>
        <div class="offer-card">
          <p>
            <%= offer.offerStatus %>
          </p>
          <h4>
            <%= offer.jobTitle %>
          </h4>
          <p>
            <%= offer.employerName %>
          </p>
          <a href="/offers/<%= offer._id %>">See More</a>
        </div>
        <% } %>
          <% }); %>
  </div>
  <hr>
  <% } else { %>
    <p>No offer found.</p>
    <% } %>
      </div>