<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobApply Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
<div class="container">
    <header class="header">
        
            <% if(user) { %>
                <h1 class="header__logo"><a href="/dashboard"><span>job</span>Apply<span>.</span></a></h1>
                <div class="header__nav">
                    <p>Welcome,                        <%= user.firstName %>
                        <%= user.lastName %>
                    </p>
                    <a href="/profile"> My Profile</a>
                    <a href="/logout">Log out</a>
                </div>
                <div class="header__burger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            <% } else { %>
                <h1 class="header__logo"><a href="/"><span>job</span>Apply<span>.</span></a></h1>           
            <% } %> 
        </div>
    </div>       
    </header>

<script>
        /*-----Nav-----*/
    const burger = document.querySelector('.header__burger');
    const nav = document.querySelector('.header__nav');

    burger.addEventListener('click', () => {
        nav.classList.toggle('nav-active');
        burger.classList.toggle('toggle');
    });
</script>