<%- include('partials/header'); -%>

<h2>Create an offer</h2>
<form action="/create" method="POST">
    
	<label for="jobTitle">Job Title</label>
	<input type="text" name="jobTitle" required />
    <div class="jobTitle error"></div>

	<label for="url">Website</label>
	<input type="text" name="url" required />
    <div class="url error"></div>

	<label for="employerName">Name</label>
	<input type="text" name="employerName" required />
	<div class="employerName error"></div>
    
	<label for="employerEmail">Email of contact</label>
	<input type="text" name="employerEmail" required />
	<div class="employerEmail error"></div>

	<label for="employerPhone">Phone</label>
	<input type="text" name="employerPhone"  />
	<br>

	<label for="employerAddress">Address</label>
	<input type="text" name="employerAddress" />
    <br>

    <label for="offerOrigin">Origin</label>
    <select name="offerOrigin" id="offerOrigin">
        <option value="Candidature spontanée">Candidature spontanée</option>
        <option value="Job offer">Job offer</option>
    </select>
    <div class="offerOrigin error"></div>
    <br>
    
    <label for="offerStatus">Status</label>
    <select name="offerStatus" id="offerStatus">
        <option value="Interested">Interested</option>
        <option value="CV sent">Resume sent</option>
        <option value="Negative">Negative</option>
        <option value="Interview">Interview</option>
    </select>
    <div class="offerStatus error"></div>
    <br>
    
    <label for="comments">Comments</label>
    <textarea name="comments" id="comments"></textarea><br>
    
    <button>Save</button>
</form>


<%- include('partials/footer'); -%>


<script>
    const form = document.querySelector("form");
    const jobTitleError = document.querySelector(".jobTitle.error");
    const urlError = document.querySelector(".url.error");
    const employerNameError = document.querySelector(".employerName.error");
    const employerEmailError = document.querySelector(".employerEmail.error");
    const originError = document.querySelector(".offerOrigin.error");
    const statusError = document.querySelector(".offerStatus.error");
    
    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        
        // reset errors
        jobTitleError.textContent = "";
        urlError.textContent = "";
        employerNameError.textContent = "";
        employerEmailError.textContent = "";
        originError.textContent = "";
        statusError.textContent = "";
        
        // get values
        const jobTitle = form.jobTitle.value;
        const url = form.url.value;
        const employerName = form.employerName.value;
        const employerEmail = form.employerEmail.value;
        const employerPhone = form.employerPhone.value;
        const employerAddress = form.employerAddress.value;
        const offerOrigin = form.offerOrigin.value;
        const offerStatus = form.offerStatus.value;
        const comments = form.comments.value;
        
        console.log(jobTitle, url, employerName, employerEmail, origin, status);
        try {
            const res = await fetch("/create", {
                method: "POST",
                body: JSON.stringify({ jobTitle, url, employerName, employerEmail, employerPhone, employerAddress, offerOrigin, offerStatus, comments }),
                headers: { "Content-Type": "application/json" },
            });
            const data = await res.json();
            console.log(data);
            if (data.user) {
                alert('Job offer created successfully!');
                location.assign("/");
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>
