<%- include('partials/header'); -%>


    <h1>DASHBOARD</h1>

    
    <h2>Welcome <%= user.firstName %> <%= user.lastName %></h2>
    <a href="/profile">My profile</a></p>
    <hr>
    <div>
        <h3>My Offers</h3>
        <a href="/create">Create a new offer</a></p>
        <br>
        <p>No offers found.</p>
    </div>
    <hr>


    <a href="/logout">Log out</a></p>


    <%- include('partials/footer'); -%>