<%- include('partials/header'); -%>


    <h1>DASHBOARD</h1>

    <% if (user) { %>
        <li>Welcome <%= user.firstName %> <%= user.lastName %>
        </li>
        <li><a href="/logout">Log out</a></li>
        <% }
        else { %>
            


    <%- include('partials/footer'); -%>