<%- include('partials/header'); -%>


    <h1>DASHBOARD</h1>

    
    <h2>WELCOME <%= user.firstName %> <%= user.lastName %></h2>

    <a href="/logout">Log out</a></p>


    <%- include('partials/footer'); -%>