@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@300;400;500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Barlow", sans-serif;
  background: #F7F7F7;
  color: #183a55;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 1.5rem;
  outline: 1px solid red;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  outline: 1px solid red;
}
.header h1, .header h2 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.header__logo span {
  color: #0088aa;
}
.header__nav {
  outline: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  gap: 1.5rem;
  padding: 0.625rem 0;
}
.header__nav p {
  margin-right: 2.5rem;
}
.header__nav a {
  font-weight: 600;
  text-transform: uppercase;
}
.header__nav a:hover {
  color: #E8AB36;
}
.header__nav a:last-child {
  color: #E8AB36;
  font-weight: 400;
  border: 1px solid #E8AB36;
  border-radius: 10px;
  padding: 8px 20px;
}
.header__nav a:last-child:hover {
  background: #E8AB36;
  color: white;
}

.dashboard {
  min-height: 100vh;
}
.dashboard__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}
.dashboard__card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0), 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  max-height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.dashboard__card h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}
.dashboard__card .more {
  border-radius: 10px;
  background: #E8AB36;
  color: white;
  align-self: end;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  font-size: 1.15rem;
}

.footer {
  position: fixed;
  bottom: 0;
}