@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@300;400;500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Barlow", sans-serif;
  background: #F7F7F7;
  color: #183a55;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 1.5rem;
  outline: 1px solid red;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  outline: 1px solid red;
}
.header h1, .header h2 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.header__logo {
  outline: 1px solid red;
  padding: 0.625rem 0;
}
.header__logo span {
  color: #0088aa;
}
.header__nav {
  outline: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  gap: 1.5rem;
  padding: 0.625rem 0;
  transition: transform 0.3s ease-in-out;
}
.header__nav.nav-active {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  background: white;
}
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    display: none;
    transform: translateY(-100%);
    padding: 1.5rem;
    top: 0;
    right: 5%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  }
}
.header__nav p {
  margin-right: 2rem;
  outline: 1px solid red;
}
@media (max-width: 768px) {
  .header__nav p {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.header__nav a {
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .header__nav a {
    font-size: 0.875rem;
  }
}
.header__nav a:hover {
  color: #E8AB36;
}
.header__nav a:last-child {
  color: #E8AB36;
  font-weight: 400;
  border: 1px solid #E8AB36;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (max-width: 768px) {
  .header__nav a:last-child {
    padding: 4px 10px;
  }
}
.header__nav a:last-child:hover {
  background: #E8AB36;
  color: white;
}
.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}
.header__burger div {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: center;
}
.header__burger.toggle div:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 8px);
  background: #183a55;
}
.header__burger.toggle div:nth-child(2) {
  opacity: 0;
}
.header__burger.toggle div:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -8px);
  background: #183a55;
}
@media (max-width: 768px) {
  .header__burger {
    display: flex;
  }
}

.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.dashboard .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.dashboard__create {
  display: flex;
  max-width: 300px;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1.5rem;
  background: #0088aa;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.25rem;
  transition: ease-in-out 0.2s;
}
.dashboard__create i {
  font-size: 1.5rem;
}
.dashboard__create:hover {
  transform: scale(1.05);
  background: #009cc4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dashboard__create:active {
  transform: scale(1);
  background: #007491;
}
.dashboard__grid {
  outline: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}
.dashboard__card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0), 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  max-height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.dashboard__card h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}
.dashboard__card .more {
  border-radius: 10px;
  background: white;
  color: #E8AB36;
  border: 1px solid #E8AB36;
  align-self: end;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  font-size: 1.15rem;
}
.dashboard__card .more:hover {
  background: #E8AB36;
  color: white;
  border: 1px solid white;
}
.dashboard__card #openDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.dashboard__card #openDialog.open {
  opacity: 1;
}
.dashboard__card #openDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.dashboard__card #closeDialog {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  color: #333; /* change the color of the button */
  padding: 0;
  cursor: pointer;
}
.dashboard__card #closeDialog:hover {
  color: #666; /* change the color of the button when hovering over it */
}
.dashboard__card #closeDialog:active {
  color: #999; /* change the color of the button when clicking on it */
}

.footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
}