// //=== HEADER ===
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    outline: 1px solid red;
    
    h1, h2 {
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
    }
    
    &__logo {
        outline: 1px solid red;
        padding: .625rem 0;
    }

    &__logo span {
        color: $cta-blue;
    }
    
    &__nav {
        outline: 1px solid red;        
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
        gap: 1.5rem;
        padding: .625rem 0;
        transition: transform 0.3s ease-in-out;

        &.nav-active {
            display: flex;
            flex-direction: column;
            transform: translateY(0);
            background: white;
        }

        @media (max-width: 768px) {
            position: absolute;
            display: none;
            transform: translateY(-100%);
            padding: 1.5rem;
            top: 0;
            right: 5%;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
        }   
    }

    &__nav p {
        margin-right: 2rem;
        outline: 1px solid red;

        @media (max-width: 768px) { 
            margin-right: 0;
            margin-bottom: 1rem;
        }

    }

    &__nav a {
        font-weight: 600;
        text-transform: uppercase;

        @media (max-width: 768px) { 
            font-size: 0.875rem;
        }
    }
    
    &__nav a:hover {
        color: $cta-orange;
    }

    &__nav a:last-child {
        color: $cta-orange;
        font-weight: 400;
        border: 1px solid $cta-orange;
        border-radius: 10px;
        padding: 8px 20px;

        @media (max-width: 768px) { // adjust this value according to your needs
            padding: 4px 10px;
        }
    }

    &__nav a:last-child:hover {
        background: $cta-orange;
        color: white;
    }

    &__burger {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;
    
        div {
            width: 2rem;
            height: 0.25rem;
            background: #333;
            border-radius: 10px;
            transition: all 0.3s linear;
            position: relative;
            transform-origin: center;
        }

        &.toggle div {
            &:nth-child(1) {
                transform: rotate(-45deg) translate(-7px, 8px);
                background: $main-blue;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(45deg) translate(-7px, -8px);
                background: $main-blue;
            }
        }

        @media (max-width: 768px) {
            display: flex;
        }
    }
}
