// //=== HEADER ===
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    outline: 1px solid red;
    
    h1, h2 {
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
    }
    
    &__logo span {
        color: $cta-blue;
    }
    
    &__nav {
        outline: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
        gap: 1.5rem;
        padding: .625rem 0;
    }

    &__nav p {
        margin-right: 2.5rem;
    }

    &__nav a {
        font-weight: 600;
        text-transform: uppercase;
    }
    
    &__nav a:hover {
        color: $cta-orange;
    }

    &__nav a:last-child {
        color: $cta-orange;
        font-weight: 400;
        border: 1px solid $cta-orange;
        border-radius: 10px;
        padding: 8px 20px;
    }

    &__nav a:last-child:hover {
        background: $cta-orange;
        color: white;
    }
}
